a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
#main-content{
  padding: 50px 0;
}

.head-title{
  padding: 8px 16px;
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.members-wrap{
  padding: 1em;
}

.members-item{
  display: block;
  padding-bottom: .5em;
  border-radius: 10px;
  text-align: center;
  transition: all .7s ease;
}

.members-item img{
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15);
  
}

.members-item p{
  margin: 1em 0 0 0;
  color: #222;
}

.members-item:hover{
  transform: scale(1.1);
}

.members-item:hover p{
  color: #006cb8;
}

@media screen and (max-width: 768px){
  .head-name{
   display: inline-block;
   text-align: center; 
   position: relative;
  }
  #nav-menu{
    display: block;
    width: 1.7em;
    height: 1.5em;
    padding: .3em 0;
    border-top: .3em solid #444;
    border-bottom: .3em solid #444;
    background: #444;
    background-clip: content-box;
    position: absolute;
    top: .7em;
    right: 1.5em;
  }
  .nav-bar-wrap{
    background: #fff;
    padding: 0;
  }
  .nav-bar{
    width: 100%;
    display: none;
  }
  .nav-item{
    width: 50%;
    padding: 1em .5em;
    border: 1px solid #ddd;
    text-align: center;
  }
}